<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href={{ url_for ('static' ,filename='css/styles.css')}}>

</head>
<body>
    <div>
        <h1>Tetris</h1>
        <div class="game_board_wrap">
            <img
              class="logo"
              src="./assets/logo.png"
              alt=""
              width="250
            "
            />
            <div id="game_board"></div>
          </div>
        <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>

    </div>
</body>
</html>