<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href={{ url_for ('static' ,filename='css/styles.css')}}>

</head>
<body>
    <div>
        <a href="/leaderboard">Go to Leaderboard</a>
        <h1 class="tetris-h1">Tetris</h1>
        <div class="game_board_wrap">
            <div id="score-popup" style="display:none;">
                <form id="score-form">
                    <label for="name">Enter your name:</label>
                    <input type="text" id="name" name="name" required>
                    <input type="submit" value="Submit Score">
                </form>
            </div>
            <div id="game_board"></div>
            <div id="gameOverMessage" style="display: none;">
                <p class="game-over">Game Over!</p>
                <button onclick="restartGame()">Restart Game</button>
            </div>
            <span id="score">Score: 0</span>

            </div>
          </div>         
        <script type="text/javascript" src="{{ url_for('static', filename='script/script.js') }}"></script>

        <script> document.getElementById('score-form').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the default form submission
            
            const name = document.getElementById('name').value;
            // Here, 'score' is the global variable from your game's JavaScript file
            const gameScore = score;  // Use the score from the game
        
            const date = new Date().toISOString().split('T')[0]; // Current date in YYYY-MM-DD format
        
            fetch('/submit-score', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ name: name, score: gameScore, date: date })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                alert("Score submitted!");  // Display confirmation
                // Additional logic (like resetting the form or redirecting the user)
            })
            .catch(error => {
                console.error('Error during fetch operation:', error);
            });
        });
        
</script>
    </div>
</body>
</html>